body {
    margin: 0;
    background-image: url("../src/img/stars.jpeg");
    background-color: #cccccc;
}

:root {
    --primary-color: #7a3b2e;
    --secondary-color: #a79e84;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Navbar Styling*/

#navbar {
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: stretch;
}

.navbar-btn {
    background-color: transparent;
    color: white;
    width: 100px;
    outline: none;
}

/* Home Page Styling */

#home-content {
    background-color: var(--secondary-color);
    padding: 40px;
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-img {
    width: 70%;
    height: auto;
}

/* Menu Page Styling */

#menu-content {
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Contact Page Styling */

#contact-content {
    background-color: var(--secondary-color);
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.worker-contact {
    background-color: var(--primary-color);
}